.card {
    position: relative;
    border: none;
    border-radius: 15px;

  }
  
  .card-text-overlay {
    font-size: 140px;
    position: absolute;
    bottom: -70px;
    left: -15px;
    padding: 5px 10px;
    border-radius: 5px;
  
  }

  span{
    color: white;
  }
.listId{
  color: #1E1E1E;

}