<div class="ps-5">
  <span>What do you want to watch</span>
  <div class="col"></div>
</div>
<div class="col-8 ps-5 mt-3">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-append">
      <i class="fa-solid fa-magnifying-glass searchIcon"></i>
    </div>
  </div>
</div>
<div id="movieCarousel" class="carousel  p-3" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <ul class="list-unstyled d-flex">
        <li class="card ms-3" *ngFor="let movie of movieList.slice(0,3); let i = index">
          <img [src]="getImageUrl(movie.poster_path)" class="card-img" alt="...">
          <div class="card-text-overlay overlay-bg "><span class="listId">{{ i+1 }}</span></div>
        </li>
      </ul>
    </div>
    <div class="carousel-item ">
      <ul class="list-unstyled d-flex">
        <li class="card ms-3" *ngFor="let movie of movieList.slice(3,6); let i = index">
          <img [src]="getImageUrl(movie.poster_path)" class="card-img" alt="...">
          <div class="card-text-overlay overlay-bg "><span class="listId">{{ i + 4 }}</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>